* {
  cursor: none;
  scroll-behavior: smooth; 
}
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

h1{
  font-family: 'Arial';
  font-size: 40px;
  font-weight: bold;
  color: #3b3b3b;
  margin-top: 2%;
  padding: 0px;

}
/* This will change the scrollbar's size */
::-webkit-scrollbar {
  width: 10px;
}

/* This will change the scrollbar track's appearance */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* This will change the scrollbar thumb's appearance */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Add border radius */
}

/* This will change the scrollbar thumb's appearance when hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* This will change the scrollbar corner's appearance */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* This will change the scrollbar's buttons appearance (arrows typically shown on the ends of a vertical scrollbar) */
::-webkit-scrollbar-button {
  background: #ccc;
  border: none;
}

/* This will change the scrollbar's buttons appearance when hovered over */
::-webkit-scrollbar-button:hover {
  background: #aaa;
}

/* This will change the scrollbar's track when it's in a horizontal orientation */
::-webkit-scrollbar-track-horizontal {
  background: #f1f1f1;
}

/* This will change the scrollbar's thumb when it's in a horizontal orientation */
::-webkit-scrollbar-thumb-horizontal {
  background: #888;
}

/* This will change the scrollbar's thumb when it's in a horizontal orientation and hovered over */
::-webkit-scrollbar-thumb-horizontal:hover {
  background: #555;
}
/* Style for the scroll-to-top button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 989;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  padding: 12px; /* Increase padding for better touch interaction */
  border-radius: 50%;
  font-size: 20px; /* Increase font size for better visibility */
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

#scrollToTopBtn:hover {
  background-color: #444; /* Darken background color on hover */
}

/* Style for the Remixicon arrow-up icon */



/* =============================== */
/* =           HEADER            = */
/* =============================== */
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 999;
}

.hover {
  background-color: var(--first-color);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

/* Header */
.header {
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}
.nav-up {
  transform: translateY(-100%); /* Slide the header up */
}



.nav__link {
  color: black;
  font-weight: 500;
  text-decoration: none;
  position: relative; /* Establish a containing block for pseudo-element */
  font-size: 20px;
}
/* Slide-in underline effect */
.nav__link::before {
  content: '';
  position: absolute;
  bottom: -3px; /* Adjust the position of the underline */
  left: 0;
  width: 0; /* Initially, the width is 0 */
  height: 2px; /* Adjust the height of the underline */
  background-color: #ffffff; /* Color of the underline */
  transition: width 0.3s ease; /* Transition effect for width */
}
.nav__link:hover::before {
  width: 100%; /* When hovering, expand the width to 100% */
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.nav__menu {
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin: 20px 0;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

.nav__item {
  margin-right: 20px;
  position: relative; /* Make sure the ::before pseudo-element is positioned relative to this */
}

.nav__link:hover {
  color: #fff;
  transition: all .3s ease;

}

/* =============================== */
/* =           HOME              = */
/* =============================== */

.home-container {
  background-color: #e3c9c9;
  padding: 0px;
}
.home-container img {
  height: 300px;
  width: auto;
  margin: 00px;
}
.box-home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  background-color: #3333331a;
  gap: 20px;
  padding-top: 7.5%;
  /* margin-top: 2; */
}
.box {
  height: 250px;
  border-radius: 50px 0px 0px 50px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-home img {
  height: 300px;
  width: auto;
  margin: 0;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.box-home img:hover {
  transform: scale(1.1); /* Scale the image up by 10% on hover */
}

.box h2 {
  margin: 15px;
  margin: 5%;
  font-family: arial;
}
.box p {
  display: flex;
  margin: 10%;
  margin-top: 0%;
  margin-right: 20%;
  font-size: 20px;
  font-family: arial;
}
.box1 {
  background-color: #f3f4ec;
  z-index: 0;
  left: 30px;
  box-shadow: -34px -4px 37px -27px rgba(101, 97, 97, 0.45);
  /* width: 50%; */
}
.box2 {
  background-color: #eaece1;
  z-index: 1;
  left: -60px;
  box-shadow: -34px -4px 37px -27px rgba(101, 97, 97, 0.45);
  /* width: 50%; */
}

.box3 {
  background-color: #e7e8df;
  z-index: 2;
  left: -140px;
  box-shadow: -34px -4px 37px -27px rgba(101, 97, 97, 0.45);
  border-radius: 50px;
  /* width: 50%; */
}

.align {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 20px;
  margin-left: 100px;
}

.video-container {
  display: flex;
  background-color: #d8c2c2;
  /* background-color: blue; */
  width: 100%;
  padding-bottom: 150px;
}

@media screen and (max-width: 1000px) {
  .video-container {
    height: 1500px;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
   padding-bottom: 0px;
  }
  .videobox {
    margin-right: auto;
    margin-left: auto;
    left: 0% !important;
    bottom: 0;
    position: static !important;
  }
  .video-container img {
    left: 15% !important;
    padding-bottom: 270px !important;
    width: 350px !important;
    height: 350px !important;
    margin-top: 100px;
    top: 253%;
  }
  .video{
    margin: 0px;
    margin-left: 0% !important;
    left: 30px;
    
  }
}
.videobox img {
  padding-bottom: 270px !important;
}

.video-container img {
  width: 500px;
  height: 500px;
  z-index: 1;
  position: absolute;
  left: 70%;
}

.video {
  /* position: relative; */
  width: 600px;
  height: 350px;
  background-color: #e5e7dd;
  margin: 30px;
  margin-top: 200px;
  margin-left: 8%;
  z-index: 2;
}

.videobox {
  position:absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 350px;
  height: 600px;
  background-color: #e5e7dd;
  margin-top: 80px;
  border-radius: 50px;
  border: 1px solid black;
  margin-bottom: 40px;
  left: 70%;
  z-index: 2;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
}

.link {
  text-align: center;
  height: 100px;
  margin: 0px 10px;
  border: 4px solid black;
  background-color: #f3f4ec;
  box-shadow: 0px 4px 4px 0px #00000059;
}

.link h2 {
  color: blue;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
  font-family: arial;
  font-size: 18px;
  font-weight: lighter;
}

.link p {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 5px;
}
.contact-container {
  display: flex;
  align-items: flex-start; /* Changed from 'center' to 'flex-start' */
  background-color: #d8caca;
  padding-top: 50px;
  justify-content: flex-end;
}
#circle2 {
  position: absolute;
  left: 0; /* Align to the left side */
  z-index: 0;
  height: auto;
  width: 500px;
  transform: translate(-150px, -150px);
}

#circle1 {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  background: #f3f4ec;
  border-radius: 8px; /* Adjust border-radius */
  padding: 20px;
  color: black;
  font-weight: bold;
  border: 0px;
  margin-bottom: 10px;
  width: 90%;
  
}

input[type="submit"] {
  padding: 15px 30px; /* Increase padding */
  border-radius: 8px; /* Adjust border-radius */
  width: 95%; /* Set width to 100% */
  margin-top: 20px; /* Adjust margin-top */
  background-color: #f3f4ec; /* Change background color */
  border: none;
  font-weight: bold;
  color: black; /* Change text color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for depth */
  transition: all .5s ease; /* Add transition for smooth hover effect */
}

input[type="submit"]:hover {
  background-color: #b9bab4; /* Darken background color on hover */
}


textarea {
  background: #f3f4ec;
  resize: none;
  border-radius: 8px; /* Adjust border-radius */
  padding: 20px;
  font-weight: bold;
  border: 0px;
  font-weight: bold;
}

.form {
  padding: 50px 0px 50px 50px;
  background-color: #e5e7dd;
  border-radius: 50px 0px 0px 50px;
  width: auto;
  z-index: 100;
}

.border {
  padding: 40px 0px 40px 40px;
  background: #f3f4ec;
  width: 80%;
  border-radius: 50px 0px 0px 50px;
  margin-left: 40%;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
  z-index: 100;
  margin-bottom: 50px;
}

/* responsieve for 1020px */

@media screen and (max-width: 1030px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .border {
    margin-left: 20%;
  }

  .box-home img {
    display: none;
  }
}
/* =============================== */
/* =           FOOTER            = */
/* =============================== */
/* Footer section */
.footer {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 50px 0; /* Padding top and bottom */
  font-family: Arial, sans-serif; /* Font family */
}

/* Container for footer content */
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Maximum width */
  margin: 0 auto; /* Center the content */
}

/* Individual footer content */
.footer-content {
  flex: 1; /* Each content takes equal space */
  padding: 0 20px; /* Add padding to separate content */
}

/* Footer heading */
.footer-content h2 {
  font-size: 1.5rem; /* Header font size */
  margin-bottom: 20px; /* Bottom margin */
  text-transform: uppercase; /* Uppercase text */
}

/* Social icons */
.social-icons {
  display: flex;
}

.social-icons a {
  color: #fff; /* Icon color */
  font-size: 1.5rem; /* Icon size */
  margin-right: 10px; /* Right margin between icons */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-icons a:hover {
  color: #7a7a7a; /* Change icon color on hover */
}

/* Footer links */
ul {
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
}

ul li {
  margin-bottom: 10px; /* Bottom margin between list items */
}

ul li a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

ul li a:hover {
  color: #7a7a7a; /* Change link color on hover */
}


/* responsieve for 900px*/

@media screen and (max-width: 900px) {
  .box-home {
    transition: all ease 0.5s;
    flex-direction: column;
  }

  .align {
    flex-direction: column;
    margin-left: 0;
  }
  .home-container {
    padding-left: 0px;
  }
  .box {
    position: relative;
    width: 100%;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
  }
  .box h2 {
    margin-bottom: 10px;
  }
  .box1 {
    left: 0;
  }
  .box2 {
    left: 0;
    bottom: 0px;
  }

  .box3 {
    left: 0;
    bottom: 0px;
  }
  .cursor {
    display: none;
  }
  .cursor2 {
    display: none;
  }
  .cursorinnerhover {
    display: none;
  }
}
