:root{
    --grey: #AAAAAA;
    --lightgrey: rgba(209, 209, 209, 0.8);
    --background: #D9D9D9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-image: url("/img/background_img_1.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header{
    background: var(--grey);
    height: 10vh;
    margin:0;
    padding: 0;
}

section{
    border-radius: 0.2rem;
    background: var(--lightgrey);
    height: 40vh;
    display: flex;
}

.home-container{
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.picture{
    max-height: 35vh;
    border: 0.05rem solid var(--grey);
}

.steps{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.step1{
    background: rgb(157, 157, 157);
}

.step2{
    background: rgb(137, 137, 137);
}

.step3{
    background: rgb(117, 117, 117);
}

.video-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.video, .video-information {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    width: 35%;
    height: 80%;
    background: rgb(117, 117, 117);
}

.video-information {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    max-height: 90%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    max-height: 50%;
    font-size: 1.5rem;
    background: var(--grey);
}

.information > a{
    color: black;
}


@media only screen and (max-width: 800px) {
    .step{
        font-size: 1rem;
    }
    .home-container{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding: 2rem;
    }
    .video-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2rem;
        padding: 2rem;
    }
}